.recommendation__top {
  display: flex;
  align-items: center;
}
.recommendation__companyName {
  font-size: 15px;
  font-weight: 600;
}
.recommendation__companyDescr {
  font-size: 11px;
  color: grey;
}
.recommendation__button {
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid grey;
  color: grey;
  padding: 5px;
  width: 72px;
  cursor: pointer;
}
.recommendation__button:hover {
  background-color: lightgrey;
  color: rgb(65, 63, 63);
  border: 2px solid rgb(65, 63, 63);
}
.recommendation__title {
  margin-top: 20px;
  margin-left: 15px;
}
.recommendation__avatar {
  height: 30px !important;
  object-fit: contain;
  width: 30px !important;
}
